<button matButton="outlined" (click)="goToMenu()">Voltar ao Menu</button>

<div class="filter-bar">                                                                               
    <!-- Search by Name -->                                                                              
    <mat-form-field appearance="outline">                                                                
    <mat-label>Buscar por nome</mat-label>                                                             
    <input                                                                                             
        matInput                                                                                         
        [value]="searchTerm()"                                                                           
        (input)="onSearch($any($event.target).value)"                                                    
        placeholder="Ex: Camiseta, Calça..."                                                            
    >                                                                                                  
    </mat-form-field>                                                                                    
                                                                                                        
    <!-- Filter by Size -->                                                                              
    <mat-form-field appearance="outline">
    <mat-label>Filtrar por tamanho</mat-label>
    <mat-select [value]="selectedSize()" (selectionChange)="onSizeChange($event.value)">
        <mat-option value="">Todos os tamanhos</mat-option>
        @for (size of clotheSizes; track size) {
            <mat-option [value]="size">{{ size }}</mat-option>
        }
    </mat-select>
    </mat-form-field>

    <!-- Clear Filters Button -->
    @if (searchTerm() || selectedSize()) {
    <button matButton="outlined" (click)="clearFilters()">Limpar Filtros</button>
    }
</div>

<mat-grid-list cols="3">
    @for (product of products(); track product.id) {
        <mat-grid-tile>
            <mat-card class="example-card" appearance="outlined">
                <img 
                    mat-card-image 
                    [src]="product.imageUrl ? 
                        'http://localhost:8080' + product.imageUrl :
                        'https://placehold.co/400x300?text=Sem+Imagem'
                    " 
                    [alt]="product.name"
                >
                <mat-card-content>
                    <p><strong>Nome: </strong>{{ product.name }}</p>
                    <p><strong>Preço: </strong>{{ product.unitPrice | currency:'BRL':'symbol':'1.2-2'}}</p>
                    <p><strong>Tamanho: </strong>{{ product.size }}</p>
                    <p><strong>Quantidade em estoque: </strong>{{ product.stockQuantity }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button matButton (click)="openEditDialog(product)">EDITAR</button>
                    <button matButton (click)="openSaleDialog(product)">VENDER</button>
                    <button matButton (click)="openDeleteDialog(product)">DELETAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    }
     @empty {
        <p>No product found in inventory!</p>
    }
</mat-grid-list>
<mat-paginator
    [length]="totalElements()"
    [pageSize]="pageSize()"
    (page)="handlePageEvent($event)"
>
</mat-paginator>
