.new-product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 25px;

    .new-product-card {
        background-color: rgb(156, 237, 200);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 8rem 5rem;
        border-radius: 50px;

        .form-fields-container {
            display: flex;
            flex-direction: column;
        }
    }
}